<div class="fondo">
  <div class="form">
    <div class="titulo-juegos">
      SALA DE JUEGOS
    </div>

    <form class="register-form">
      <input type="text" placeholder="name" />
      <input type="password" placeholder="password" />
      <input type="text" placeholder="email address" />
      <button type="button">create</button>
    </form>

    <form class="login-form">
      <input
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
        required
      />
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        required
      />
      <button type="button" (click)="logIn()">Iniciar Sesión</button>

      @if (errorMessage) {
      <div class="error-message">
        {{ errorMessage }}
      </div>
      }
    </form>

    <button type="button" (click)="completarUsuario('tgc99tgc@gmail.com', '123456')">
      Autocompletar usuario
    </button>

    <div class="registro-link">
      <p>¿Todavía no estás registrado?</p>
      <button (click)="irAlRegistro()" class="registro-boton">
        Regístrate acá
      </button>
    </div>
  </div>
</div>
