<div class="fondo">
  <div class="form">
    <div class="titulo-juegos">SALA DE JUEGOS</div>

    <form class="login-form">
      <input
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
        required
      />
      <input
        type="password"
        placeholder="Contraseña"
        [(ngModel)]="password"
        name="password"
        required
      />
      <button type="button" class="btn-principal" (click)="logIn()">Iniciar Sesión</button>

      @if (errorMessage) {
      <div class="error-message">{{ errorMessage }}</div>
      }
    </form>

    <button
      type="button"
      class="btn-secundario"
      (click)="completarUsuario('tgc99tgc@gmail.com', '123456')"
    >
      Autocompletar usuario
    </button>

    <div class="registro-link">
      <p>¿Todavía no estás registrado?</p>
      <button [routerLink]="['/registro']" class="registro-boton">Regístrate acá</button>
    </div>
  </div>
</div>
